@import '../variables';

.main {
  width: 100%;
  background-color: $color-harbor-light;
  text-align: justify;
  padding: 4rem 2rem;

  .page_outlet {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .choose_room {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    img {
      width: 10%;
    }

    h4 {
      margin: 0 1rem;
    }
  }

  .offer_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .room_version {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        flex-basis: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        color: $color-font-fullDark;
        border: 2px solid $color-border-dark;
        box-shadow: 0px 0px 6px 0px rgb(66 68 90);
        border-radius: 1rem;

        svg {
          width: 100%;
        }

        .span_mobile {
          font-size: 1rem;
          font-weight: 700;
          margin-top: 5px;
        }

        .span_desktop {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 920px) {
  .main {
    padding: 6rem 10rem;
    font-size: 1.5rem;

    .offer_nav {
      justify-content: space-around;

      .choose_room {
        margin-bottom: 2rem;
        svg {
          width: 3rem;
        }
        h4 {
          margin: 0 2rem;
        }
      }

      .room_version {
        a {
          flex-basis: 10%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          img {
            height: 75px;
            width: 75px;
            margin: 1rem;
          }
          span {
            font-size: 1.8rem;
            font-weight: 700;
            margin: 1rem 0;

            &.span_desktop {
              display: block;
            }

            &.span_mobile {
              display: none;
            }
          }
        }
      }
    }
  }
}
